.result {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 2rem;
    font-size: 1.25rem;
    text-align: center;

    span {
      font-weight: bold;
    }
  }

  button {
    width: 50%;
  }
}

.bad {
  color: #cc0000;
}

.good {
  color: forestgreen;
}
