@font-face {
  font-family: "Palemonas";
  src: local("Palemonas"),
    url(./assets/fonts/Palemonas/Palem-normal.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Palemonas";
  src: local("Palemonas"),
    url(./assets/fonts/Palemonas/Palem-bd.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
